.userslistdiv{
    width:100vw;
}


.card_testimonial1 {
  background-color: #fff;
  max-width: 800px;
  box-shadow: 2px 2px 5px #9E9E9E, -1px -1px 5px #9E9E9E;
  border-radius: 3px;
  display: grid;
  padding: 20px;
  margin: 50px 20%;
  margin-bottom: 45px;
}

.card-content_testimonial1 {
  grid-column: 1 / 5;
  padding: 10px 30px;
  border-left: 3px solid #ccc;
}
.card-content_testimonial1 h2 {
  color: #555;
}
.card-content_testimonial1 h1 {
  margin-bottom: 0;
  text-transform: uppercase;
  margin-left: 22%;
}
.card-content_testimonial1 .author_testimonial1 {
  border-top: 3px solid #cdcdcd;
  font-weight: 700;
  margin-top: 25px;
  padding: 25px 0 10px 0;
  color: #555;
}
.feedback_testimonial1{
  font-size: 2rem;
}

.author_testimonial1{
  font-size: 2rem;
}
@media(max-width:1200px){
  .card_testimonial1{
      width:750px;
  }
}

@media(max-width:1000px){
  .card_testimonial1{
      width:600px;
  }
}

@media(max-width:800px){
  .card_testimonial1{
      width:530px;
  }
}

@media(max-width:700px){
  .card_testimonial1 {
    display: block;
    width: 350px;
  }
  .card_testimonial1 .img-container_testimonial1 {
    height: 250px;
    width: 100%;
  }
  .card-content_testimonial1 {
    border: 0;
    border-top: 1px solid #ccc;
  }
}

@media(max-width:570px){
  .card_testimonial1{
      display: block;
      width:300px;
  }
}