@import url('https://fonts.googleapis.com/css2?family=Quintessential&display=swap');
.signup{
    width: 100vw;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url("./signup.jpg") ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.signupHeading{
    font-size: 3.5rem;
    font-weight: 900;
    margin-bottom: 2rem;
    color: black;
    font-family: 'Quintessential', cursive;
    /* text-shadow: 1px 1px 0.2px #32CD32, 0 0 1em rgb(21, 255, 0), 0 0 0.2em #2E8B57; */
}

.inputClass{
    margin-bottom: 1rem;
    border-radius: 6px;
    width: 25%;
    padding: 0.1rem 1rem;
    margin-left: 2.5%;
}
.club {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
    padding: 0.7rem 2.5rem;
    border-radius: 12px;
    margin: 0.5rem;
    color: #fff;
    background-color: black;
    cursor: pointer;
}

.divOR{
    color: #fff;
    font-size: 25px;
    font-weight: 700;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number]{
    -moz-appearance: textfield;
}