@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
.welcomediv{
    width:100vw;
    height: 100vh;
    background-image: url("./welcome.jpg") ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.welcomeh1{
    display: flex;
}

.welcomep {
    line-height: 25px;
    font-size: 5.5rem;
    width: 100vw;
    display: flex;
    letter-spacing: 4px;
    font-weight: 700;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    color: white;
    text-shadow: 1px black;
}

.welcomeButton{
    width: 100vw;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 7%;
}

.welcomeButton button{
    margin: none;
    font-size: 2rem;
    outline: none;
    border: none;
    font-weight: 800;
    -webkit-text-fill-color: transparent  ;
    background: -moz-linear-gradient(90deg, #6F019C 0%, #C6017E 135.12%)  ;
    background: linear-gradient(90deg, #6F019C 0%, #C6017E 135.12%)  ;
    -webkit-background-clip: -webkit-text ;
    -webkit-background-clip: text  ;

}
.whitebg{
    background-color: #FFFFFF;
    margin-left: 42px;
    border-radius: 1000px;
    outline: none;
    width: 124px;
    height: 55px;
    text-align: center;
}
.welcomeh1 img{
    width: 100px;
    height: 100px;
    margin: 15px 25px;
}