@import url('https://fonts.googleapis.com/css2?family=Quintessential&display=swap');
.welcomediv{
    width:100vw;
    height: 100vh;
    background-image: url("./welcome.jpg") ;
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;

}

.welcomeh1 h1{
    width: 100vw;
    display: flex;
    color: black;
    padding: 40px;
    font-family: 'Quintessential', cursive;
    font-size: 5rem;
    letter-spacing: 2px;
    justify-content: center;
    align-items: center;
    color: Navy;
    text-shadow: 1px 1px 2px mediumslateblue, 0 0 1em blue, 0 0 0.1em blue;;
}

.welcomep {
    line-height: 25px;
    font-size: 5.5rem;
    width: 100vw;
    display: flex;
    letter-spacing: 4px;
    font-weight: 700;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    color: #006400;
    text-shadow: 1px 1px 2px LightYellow, 0 0 1em yellow, 0 0 0.1em lawngreen;;
}

.welcomeButton{
    width: 100vw;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 7%;
}

.welcomeButton button{
    padding: 1.2rem 3.5rem;
    font-size: 2rem;
    margin: 0 3rem;
}