
.addplaceDiv{
    display: flex;
    flex-direction: column;
    
    
}

.rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: left;
}

.rating>label::before {
    content: "\2605";
    position: absolute;
    opacity: 0
}

.rating>label:hover:before,
.rating>label:hover~label:before {
    opacity: 1 !important
}

.rating>input:checked~label:before {
    opacity: 1
}
.rating>input {
    display: none
}
.rating>label {
    position: relative;
    width: 1em;
    font-size: 1.7vw;
    color: green;
    cursor: pointer
}
.titleform{
    font-size: 1.4rem;
    font-weight: 600;
}

.inputArea{
    padding: 1rem 3rem;
    width: 55vw;
    display: block;
}
.something{
    width: 100vw;
}
.headingform{
    margin: 30px;
    display: flex;
    justify-content: center;
}

.inputfield{
    margin-bottom: 10px;
}
.Buttonform{
    padding: 1rem 4rem;
    font-size: 1.3rem;
}
.imageupload{
    width: 25vw;
    display: block;
}

.formbody{
    display: flex;
    justify-content: center;
}